.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  padding: 3rem 0 5rem 0;
}

.main h1,
.main h2 {
  padding: 3rem 0 3rem 0;
}

.commercialSection {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  width: 95vw;
  padding: 3rem 0 0 0;
}

.commercialSection img {
  width: 450px;
  height: 220px;
}

.commercialSection picture {
  height: 220px;
}
.commercialSection div {
  height: 220px;
}

.onHoverDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.onHoverDivNone {
  display: none;
}

.onHoverDiv div {
  position: absolute;
}
.onHoverDiv p {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 220px;
  font-size: 1.3rem;
  line-height: 2;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
}
.onHoverDiv img {
  opacity: 40%;
}

.onHoverDiv video {
  opacity: 40%;
  width: 450px;
  height: 220px;
  background: black;
}

.onHoverDiv a {
  position: absolute;
  margin-top: 4rem;
  border-radius: 50%;
  background: transparent;
  color: white;
  transition-duration: 0.3s;
}

.onHoverDiv a:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
  cursor: pointer;
  color: #38be51;
}

/* workshop page */

.video {
  padding: 1rem;
  outline: none;
  border: none;
  background: black;
  color: aliceblue;
  transition-duration: 0.3s;
  font-size: 1.2rem;
  border-radius: 5px;
  border: solid thin white;
}

.video:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
  background: aliceblue;
  color: black;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin: 4rem 0 2rem 0;
}

.dirbtuvesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  text-align: center;
  line-height: 2;
}

.dirbtuvesCell {
  height: 43rem;
}

@media screen and (max-width: 480px) {
  .commercialSection div {
    display: flex;
    flex-direction: column;
    width: 95vw;
  }
}

/* add mobile */
