.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  padding: 3rem 0 5rem 0;
}

.main h1,
.main h2 {
  padding: 3rem 0 3rem 0;
}

.commercialSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 90vw;
  height: 60vh;
  line-height: 2;
  padding: 1rem 1rem 5rem 1rem;
  border-top: thin solid grey;
  border-bottom: thin solid grey;
  background: transparent;
}

.playerWrapper {
  position: relative;
  height: 200px;

  /* padding-top: 56.25% Player ratio: 100 / (1280 / 720) */
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.text{
  display: flex;
  flex-direction: column;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
}

/* workshop page */

.video {
  padding: 1rem;
  outline: none;
  border: none;
  background: black;
  color: aliceblue;
  transition-duration: 0.3s;
  font-size: 1.2rem;
  border-radius: 5px;
  border: solid thin white;
}

.video:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
  background: aliceblue;
  color: black;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin: 4rem 0 2rem 0;
}

.dirbtuvesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  text-align: center;
  line-height: 2;
}

.dirbtuvesCell {
  height: 43rem;
}

@media screen and (max-width: 480px) {
  .commercialSection div{
    display: flex;
    flex-direction: column;
    width: 95vw;
  }
}

/* add mobile */
