.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 0 5rem 0;
  width: 95vw;
  margin: 0 auto;
}

.main h1,
.main h2 {
  padding: 3rem 0 3rem 0;
}

/* workshop page */

.video {
  padding: 1rem;
  outline: none;
  border: none;
  background: black;
  color: aliceblue;
  transition-duration: 0.3s;
  font-size: 1.2rem;
  border-radius: 5px;
  border: solid thin white;
}

.video:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
  background: aliceblue;
  color: black;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin: 4rem 0 2rem 0;
}

.dirbtuvesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  text-align: center;
  line-height: 2;
}

.dirbtuvesCell {
  height: 43rem;
}

/* video modal */

.closeBtn {
  display: flex;
  position: fixed;
  width: 100vw;
  left: 45%;
  right: 0;
  top: 10%;
  bottom: 0;
  color: white;
  transform: scale(3);
  cursor: pointer;
  transition-duration: 0.3s;
}

.closeBtn:hover {
  transform: scale(3.5);
  transition-duration: 0.3s;
  color: #38be51;
}

/* on hover div */

.onHoverDiv {
  display: flex;
  width: 100%;
  height: 170px;
  margin: 0 auto;
  padding: 0;
}

.onHoverDivNone {
  display: none;
}

.onHoverDiv p {
  position: absolute;
  margin: 2rem 0 0.5rem 0;
  font-size: 1.1rem;
  width: 340px;
  text-align: center;
  line-height: 2;
}
.onHoverDiv img {
  opacity: 30%;
}

@media screen and (max-width: 480px) {
  .main h1 {
    font-size: 1.5rem;
  }
  .closeBtn {
    left: 38%;
    top: 15%;
  }
}

/* add mobile */
