.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 5rem;
}

.main h1,
.main h2 {
  padding-bottom: 5rem;
}

.commercialSection div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  line-height: 2;
  padding: 2rem;
  margin: 0 auto;
}

.video {
  padding: 1rem;
  outline: none;
  border: none;
  background: black;
  color: aliceblue;
  transition-duration: 0.3s;
  font-size: 1.2rem;
  border-radius: 5px;
}

.video:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
  background: aliceblue;
  color: black;
  border: solid thin black;
  box-shadow: 5px 5px 5px gray;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin: 4rem 0 2rem 0;
}

.sectionLine {
  width: 95vw;
  height: 1px;
  margin: 5rem;
  background-color: black;
}

.dirbtuvesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  text-align: center;
  line-height: 2;
}

.dirbtuvesCell {
  height: 43rem;
}