.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  margin: 0 auto;
}

.main h1 {
  padding: 6rem;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

/* workshop page */

.video {
  padding: 1rem;
  outline: none;
  border: none;
  background: black;
  color: aliceblue;
  transition-duration: 0.3s;
  font-size: 1.2rem;
  border: solid thin white;
}

.video:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
  background: aliceblue;
  color: black;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin: 4rem 0 2rem 0;
}

.dirbtuvesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 100%;
  text-align: center;
  line-height: 2;
}

.dirbtuvesCell {
  height: 100%;
  margin: 2rem 0 2rem 0;
}

.dirbtuvesCell p {
  font-size: 1.3rem;
}

/* video modal */

.closeBtn {
  display: flex;
  position: fixed;
  width: auto;
  left: 94%;
  right: 0;
  top: 10%;
  bottom: 0;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
}

.closeBtn:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
  color: #38be51;
}

/* on hover div */

.onHoverDiv {
  display: flex;
  max-width: 100%;
  max-height: 220px;
  margin: 0 auto;
  padding: 0;
}

.onHoverDivNone {
  display: none;
}

.onHoverDiv div {
  position: absolute;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}

.onHoverDiv p {
  font-size: 1.3rem;
  line-height: 2;
  margin-top: 2rem;
  text-align: center;
}
.onHoverDiv img {
  opacity: 30%;
}

@media screen and (max-width: 900px) {
  .onHoverDiv p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 20%;
    top: 50%;
    min-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .main h1 {
    font-size: 1.5rem;
  }
  .closeBtn {
    left: 80%;
    top: 15%;
  }
  .onHoverDiv {
    min-height: 100%;
  }
  .onHoverDiv p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    min-width: 95vw;
    left: 0;
    top: 50%;
  }
  .dirbtuvesCell img {
    width: 300px;
    height: auto;
  }
}

/* add mobile */
