.container {
  min-height: 100vh;
  display: flex;
  padding-top: 5rem;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border-bottom: thin solid black;
  padding-bottom: 4rem;
}

.list {
  display: flex;
  width: 80vw;
  height: 5vh;
}

.listItem {
  width: 50vw;
  display: flex;
  justify-content: space-between;
}

.list a {
  display: flex;
  margin: 0 auto;
  text-decoration: none;
}

.contacts {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.contacts h2 {
  background: #32e060;
  width: 20rem;
  border-radius: 50px;
}

.contacts h3 {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.contactsCell {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  text-align: center;
  line-height: 2;
  padding: 0 0 3rem 0;
  align-items: center;
}

.emailCell {
  padding: 6rem 0 4rem 0;
}

.emailCell h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.emailForm {
  border-radius: 5px;
  width: 60vw;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
}

.emailForm p {
  color: red;
  padding: 0.5rem 0 0.5rem 0;
}

.name,
.subject {
  width: 100%;
  height: 3rem;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.subject {
  height: 20vh;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: black;
}


@media screen and (max-width: 480px) {
  .contactsCell {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
  }
  .emailForm {
    margin: 0 auto;
    width: 90vw;
  }
}