.container {
  min-height: 100vh;
  display: flex;
  padding-top: 5rem;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  width: 80vw;
  height: 5vh;
}

.listItem {
  width: 50vw;
  display: flex;
  justify-content: space-between;
}

.list a {
  display: flex;
  margin: 0 auto;
  text-decoration: none;
}

.contacts {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.contacts h2 {
  background: #32e060;
  width: 20rem;
  border-radius: 50px;
}

.contacts h3 {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.contactsCell {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  text-align: center;
  line-height: 2;
  padding: 0 0 3rem 0;
  align-items: center;
}