.container {
  min-height: 100vh;
  display: flex;
  padding-top: 5rem;
  flex-direction: column;
  align-items: center;
  border-bottom: thin solid grey;
  padding-bottom: 4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.list {
  display: flex;
  width: 80vw;
  height: 5vh;
}

.listItem {
  width: 50vw;
  display: flex;
  justify-content: space-between;
}

.list a {
  display: flex;
  margin: 0 auto;
  text-decoration: none;
}


.contactsCell h1 {
  background: #32e060;
  color: #16161d;
  width: 20rem;
  border-radius: 50px;
}

.contactsCell div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactsCell h3 {
  font-weight: 100;
  margin-bottom: 1rem;
}

.contactsCell {
  display: flex;
  flex-direction: row;
  text-align: center;
  line-height: 2;
  align-items: center;
  height: 80vh;
  justify-content: center;
}

.alginaFoto {
  width: 400px;
  height: 400px;
  background: grey;
  margin: 0 0 0 4rem;
}

.emailCell {
  padding: 6rem 0 4rem 0;
}

.emailCell h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.emailForm {
  border-radius: 5px;
  width: 60vw;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
}

.emailForm p {
  color: red;
  padding: 0.5rem 0 0.5rem 0;
}

.name,
.subject {
  width: 100%;
  height: 3rem;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.subject {
  height: 20vh;
}

.button {
  background-color: #4CAF50;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  background-color: black;
}

.icons {
  color: white;
  transition-duration: 0.3s;
}

.icons:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
  color: #38be51;
}


@media screen and (max-width: 480px) {
  .container {
    width: 100vw;

  }
  .alginaFoto {
    width: 300px;
    height: 300px;
    margin: 0;
  }
  .contactsCell {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 0 0 0;
    width: 95vw;
    margin: 0 auto;
  }
  .emailForm {
    margin: 0 auto;
    width: 90vw;
  }
}