.container {
  min-height: 90vh;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 80vw;
  align-items: center;
  margin-bottom: 5rem;
}

.listItem {
  border: solid thin grey;
  box-shadow: 5px 5px 5px rgb(196, 194, 194);
  border-radius: 10px; 
  padding: 2rem;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.listItem p {
  text-align: center;
}

.list p {
  justify-content: center;
  display: flex;
  font-size: 1.4rem;
}

.list a {
  display: flex;
  align-items: center;
  margin: 0 auto;
  line-height: 4;
  text-decoration: none;
  color: black;
  width: 3rem;
}

.logo {
  transition-duration: 0.3s;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
}
