.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  width: 100%;
  padding-top: 5rem;
}

.commercialSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  width: 90%;
}

.commercialSection div {
  margin: 0 auto;
}

.commercialSection div img {
  width: 350px;
  height: 200px;
}

/* css for on hover npt in black and white */
/* .commercialSection img {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}

.commercialSection img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
} */

.galleryGrid {
  display: grid;
  align-items: center;
}

.main h1,
.main h2 {
  padding-bottom: 5rem;
}

.main p {
  line-height: 2;
}

.sectionLine {
  width: 95vw;
  height: 1px;
  margin: 5rem;
  background-color: black;
}

.video {
  padding: 1rem;
  outline: none;
  border: none;
  background: black;
  color: aliceblue;
  transition-duration: 0.3s;
  font-size: 1.2rem;
  border-radius: 5px;
}

.video:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
  background: aliceblue;
  color: black;
  border: solid thin black;
  box-shadow: 5px 5px 5px gray;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin: 4rem 0 2rem 0;
}

.secondSection {
  width: 80vw;
}

.secondSection img {
  width: 350px;
  height: 200px;
}

.left {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 50vh;
}

.right {
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 50vh;
}

.slide {
  width: 85vw;
  height: 50vh;
  margin: 0 auto;
  justify-content: center;
}

.slide img {
  width: 380px;
  height: 200px;
}

.commercialPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  text-align: center;
  line-height: 2;
}

.commercialPageCell {
  height: 50rem;
}

.commercialPageCell video {
  width: 70vw;
}

.commercialPageCell video:focus {
  outline: none;
}

@media screen and (max-width: 480px) {
  .commercialSection {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
  
  .commercialSection div img {
    width: 300px;
    height: 160px;
  }

  .sectionText p {
    padding-bottom: 3rem;
    height: 10vh;
  }

  .main h1,
  .main h2 {
    padding-bottom: 3rem;
  }
  .secondSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .secondSection img {
    width: 300px;
    height: 160px;
  }
  .left {
    width: 80vw;
    height: auto;
  }
  .right {
    width: 80vw;
    height: auto;
  }
  .secondSection p {
    padding-bottom: 3rem;
  }
  .button {
    margin-top: 2rem;
  }
  .slide {
    padding-top: 0;
    width: 95vw;
    height: 45vh;
  }
  .slide img {
    width: 290px;
    height: 150px;
  }
}