.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 3rem 0 5rem 0;
}

.main h1,
.main h2 {
  padding: 3rem 0 3rem 0;
}

.commercialSection {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  width: 95vw;
}

.commercialSection img {
  width: 450px;
  height: 220px;
}

.commercialSection picture {
  height: 220px;
}
.commercialSection div {
  height: 220px;
}

.onHoverDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.onHoverDivNone {
  display: none;
}

.onHoverDiv div {
  position: absolute;
}
.onHoverDiv p {
  margin: 0.5rem 0 0.5rem 0;
  font-size: 0.9rem;
  width: 450px;
}
.onHoverDiv img {
  opacity: 40%;
}

.onHoverDiv button {
  position: absolute;
  margin-top: 2rem;
  padding: 1rem;
  border: thin white solid;
  background: transparent;
  color: white;
  transition-duration: 0.3s;
}

.onHoverDiv button:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
  color: black;
  background: white;
  cursor: pointer;
}

.galleryGrid {
  display: grid;
  align-items: center;
}

.main h1,
.main h2 {
  padding-bottom: 5rem;
}

.main p {
  line-height: 2;
}

.sectionLine {
  width: 95vw;
  height: 1px;
  margin: 5rem;
  background-color: grey;
}

.video {
  padding: 1rem;
  outline: none;
  border: none;
  background: black;
  color: aliceblue;
  transition-duration: 0.3s;
  font-size: 1.2rem;
  border-radius: 5px;
  border: solid thin white;
}

.video:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
  background: aliceblue;
  color: black;
  border: solid thin wite;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin: 4rem 0 2rem 0;
}

.secondSection {
  width: 80vw;
}

.secondSection img {
  width: 350px;
  height: 200px;
}

.left {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 50vh;
}

.right {
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 50vh;
}

.slide {
  width: 85vw;
  height: 50vh;
  margin: 0 auto;
  justify-content: center;
}

.slide img {
  width: 380px;
  height: 200px;
}

.commercialPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  text-align: center;
  line-height: 2;
}

.commercialPageCell {
  height: 50rem;
}

.commercialPageCell video {
  width: 70vw;
}

.commercialPageCell video:focus {
  outline: none;
}

@media screen and (max-width: 480px) {
  .commercialSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  
  .commercialSection div img {
    width: 340px;
    height: 190px;
  }

  .sectionText p {
    padding-bottom: 3rem;
    height: 10vh;
  }

  .main h1,
  .main h2 {
    padding-bottom: 3rem;
    font-size: 1.5rem;
  }
  .secondSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .secondSection img {
    width: 340px;
    height: 190px;
  }
  .left {
    width: 80vw;
    height: auto;
  }
  .right {
    width: 80vw;
    height: auto;
  }
  .secondSection p {
    padding-bottom: 3rem;
  }
  .button {
    margin-top: 2rem;
  }
  .slide {
    padding-top: 0;
    width: 90vw;
    height: 45vh;
  }
  .slide img {
    width: 390px;
    height: 150px;
  }
  .onHoverDiv button {
    padding: 0.5rem;
  }
}