.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 5rem;
}

.videoSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.galleryGrid {
  display: grid;
  align-items: center;
}

.main h1,
.main h2 {
  padding-bottom: 5rem;
}

.sectionLine {
  width: 90vw;
  height: 1px;
  margin: 4rem;
  background-color: black;
}

.video {
  padding: 1rem;
  outline: none;
  border: none;
  background: black;
  color: aliceblue;
  transition-duration: 0.3s;
  font-size: 1.2rem;
  border-radius: 5px;
}

.video:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
  background: aliceblue;
  color: black;
  border: solid thin black;
  box-shadow: 5px 5px 5px gray;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin-top: 3rem;
}

.sectionText {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 2;
  justify-content: center;
}

.secondSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  /* align-items: flex-start; */
}
.secondSection div:nth-child(3n) {
  grid-column: 2/2;
}
.secondSection div:nth-child() {
  grid-column: 1/2;
}
