.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 5rem;
}

.commercialSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  width: 90%;
}

.commercialSection div {
  margin: 0 auto;
}

.galleryGrid {
  display: grid;
  align-items: center;
}

.main h1,
.main h2 {
  padding-bottom: 5rem;
}

.main p {
  line-height: 2;
}

.sectionLine {
  width: 95vw;
  height: 1px;
  margin: 5rem;
  background-color: black;
}

.video {
  padding: 1rem;
  outline: none;
  border: none;
  background: black;
  color: aliceblue;
  transition-duration: 0.3s;
  font-size: 1.2rem;
  border-radius: 5px;
}

.video:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
  background: aliceblue;
  color: black;
  border: solid thin black;
  box-shadow: 5px 5px 5px gray;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin-top: 5rem;
}

.secondSection {
  width: 80vw;
}

.left {
  display: flex;
  float:left;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 50vh;
}

.right {
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 50vh;
}
