@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #16161d;
}

body h1,
h2,
h3,
h4,
p {
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  min-height: 3rem;
  height: 3rem;
  width: 100%;
  z-index: 10;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #38be51;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

nav li {
  text-decoration: none;
  list-style: none;
  padding-right: 4rem;
  /* font-family: 'Antic Didone', serif; */
  font-size: 1.3rem;
}

.footer {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.footer-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
  margin: 0 auto;
}

/* new banner */

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 3;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.banner h1 {
  font-weight: 500;
  font-size: 5rem;
  margin: 0 0 2rem;
}

.banner-btn {
  display: flex;
  width: 40%;
  justify-content: space-around;
}
.banner-btn a {
  text-decoration: none;
}
.banner button {
  display: flex;
  width: 13rem;
  margin: 2rem 0 0 0;
  padding: 1rem;
  border:thin solid white;
  border-radius: 50px;
  color: #16161d;
  background: #38be51;
  justify-content: center;
  font-weight: 900;
  transition-duration: 0.3s;
}

.banner .button-art {
  background: #bee05d;
}

.banner button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.3s;
}
/* new banner  end*/

.banner-vid {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  /* padding-bottom: 2rem; */
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 50%;
}

.banner-button {
  z-index: 3;
  transition-duration: 0.3s;
  border-radius: 50%;
  /* padding-bottom: 5rem; */
}
.banner-button a {
  color: white;
}
.banner-button:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
  color: #38be51;
}

.homebtndiv {
  display: flex;
  width: 70vw;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  z-index: 3;
  opacity: 85%;
}

.homebtn {
  display: flex;
  transition-duration: 0.3s;
  animation: btn 0.5s ease;
  border-color: black;
  align-items: center;
  justify-content: center;
  background: black;
  border-radius: 5px;
}
.homebtn:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
}

.homebtn img {
  width: 300px;
  height: 200px;
}
/* about component index */
.about {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90vw;
  justify-content: center;
  align-items: center;
  line-height: 2;
  padding: 5rem 0 10rem 0;
}

.about-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 1rem;

}

.about-picture {
  width: 400px;
  height: 400px;
  background: grey;
}

.about-txt {
  width: 100%;
}

.about h1 {
  margin: 3rem;
  font-size: 3rem;
}

.about p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.about-btn {
  display: flex;
  width: 67%;
}

.about button {
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 3rem;
  color: #16161d;
  font-size: 1rem;
  font-weight: 600;
}

.about button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
  background: #16161d;
  color: aliceblue;
  border: solid thin aliceblue;
}
/* about component index */

.slick-prev {
  left: -3%;
  z-index: 1;
  background: black;
  border-radius: 50%;
}
.slick-next {
  right: -3%;
  z-index: 1;
  background: black;
  border-radius: 50%;
}

.slick-arrow {
  width: 2rem;
  height: 2rem;
}

.slick-arrow:before {
  color: #38be51;
  font-size: 2rem;
}

.slides {
  padding: 1rem;
}

.slick-slide {
  padding: 10px;
}

.icons {
  color: white;
  transition-duration: 0.3s;
}

.icons:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
  color: #38be51;
}

@keyframes btn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bannerVid {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@media screen and (max-width: 480px) {
  main {
    width: 100%;
  }
  .desctop-nav {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  nav li {
    padding: 0;
  }

  .isOpen {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }

  .isOpen li {
    list-style: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
  }

  .isOpen ul {
    background: black;
    justify-content: space-evenly;
  }
  .isOpen a {
    text-decoration: none;
    color: #b3ec79;
    transition-duration: 0.3s;
  }
  .homebtn {
    width: 300px;
    height: 100px;
    margin: 4rem 0 4rem 0;
  }

  .homebtndiv {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }

  .banner-vid {
    display: none;
    background:#16161d;
  }

  .slick-dots {
    top: 95%;
  }

  .slick-dots button::before {
    background: #38be51;
  }
  .about {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95vw;
    justify-content: center;
    align-items: center;
    line-height: 2;
    padding-top: 5rem;
  }

  .about-image {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .about-image p {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
  }
  
  .about-picture {
    width: 300px;
    height: 300px;
    background: grey;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  
  .about-txt {
    width: 90vw;
  }
  
  .about h1 {
    padding-top: 2rem;
    margin: 1rem;
    font-size: 2.2rem;
  }
  
  .about p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .about-btn {
    display: flex;
    width: 80vw;
  }
  
  .about button {
    padding: 1rem;
    color: #16161d;
    font-size: 1rem;
  }
  /* new banner */
  .banner {
    text-align: center;
  }
  .banner-btn {
    flex-direction: column;
    width: 100vw;
    align-items: center;
  }
  /* new banner end */
}
