html,
body {
  padding: 0;
  margin: 0;
  font-family:monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid black;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
}

.isOpen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.isOpen li {
  list-style: none;
  line-height: 2;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.isOpen li:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
}

.isOpen a {
  text-decoration: none;
  color: black;
  transition-duration: 0.3s;
}

.menu-button {
  margin: 1rem;
  padding: 1rem;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  border: none;
  background-color: rgba(179, 236, 122, 0.753);
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:focus {
  outline: none;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: black;
}

.banner-vid {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-bottom: 2rem;
  width: 100%;
  animation: btn  0.5s ease reverse;
  animation-delay: 2.5s;
}

.homebtndiv {
  display: flex;
  width: 60vw;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.homebtn {
  color: black;
  transition-duration: 0.3s;
  animation: btn 0.3s ease;
  border: none;
}
.homebtn:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
  color: white;
  background: black;
}

@keyframes btn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .banner-vid {
    display: none;
  }
}
