html,
body {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
  width: 100%;
  height: 80px;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.isOpen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.isOpen li {
  list-style: none;
  line-height: 2;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.isOpen li:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
}

.isOpen a {
  text-decoration: none;
  color: black;
  transition-duration: 0.3s;
}

.menu-button {
  margin: 1rem;
  padding: 1rem;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  border: none;
  background-color: rgba(179, 236, 122, 0.753);
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:focus {
  outline: none;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 7rem;
  background-color: black;
}
