html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  min-height: 3rem;
  height: 3rem;
  width: 100%;
  z-index: 10000;
  background: black;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  width: 95%;
}

nav li {
  text-decoration: none;
  list-style: none;
  padding-right: 4rem;
  font-size: 1rem;
}

nav img {
  width: 100px;
  height: 40px;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid black;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
  margin: 0 auto;
}

.banner-vid {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-bottom: 2rem;
  height: 100vh;
  width: 100%;
  animation: bannerVid 0.5s ease;
  animation-delay: 2.6s;
}

.banner-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  line-height: 2;
  min-height: 100vh;
  padding-top: 8rem;
}

.banner-two-button {
  padding-top: 5rem;
}

.banner-two button {
  display: flex;
  border: none;
  background: none;
  margin-top: 3rem;
  transition-duration: 0.3s;
  margin-left: 3.2rem;
}

.banner-two button:focus {
  outline: none;
}

.banner-two button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.banner-two h1 {
  font-size: 3rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.banner-two-img {
  display: flex;
  min-height: 100vh;
  height: 100vh;
}

.banner-two img {
  height: 400px;
}

.img-one {
  position: absolute;
  top: 29%;
  left: 18%;
  z-index: 100;
  padding: 1rem;
  background-color: white;
  animation: bannerImg 1s linear;
}

.img-two {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 1rem;
  background-color: white;
  animation: bannerImg 1.5s linear;
}

.img-three {
  position: absolute;
  top: 20%;
  left: 8%;
  z-index: 1;
  padding: 1rem;
  animation: bannerImg 0.5s linear;
}

.banner-two-txt p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner-two-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.baner-two-line {
  width: 44vw;
  height: 2px;
  margin-top: 1rem;
  margin-left: 10px;
  background-color: black;
  animation: line 0.5s linear;
}

.homebtndiv {
  display: flex;
  width: 60vw;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.homebtn {
  display: flex;
  transition-duration: 0.3s;
  animation: btn 0.5s ease;
  border-color: black;
  align-items: center;
  justify-content: center;
  background: black;
  border-radius: 5px;
}
.homebtn:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
  box-shadow: 5px 5px 5px grey;
}

.homebtn img {
  width: 300px;
  height: 200px;
}

.slick-prev {
  left: -3%;
  z-index: 1;
}
.slick-next {
  right: -3%;
  z-index: 1;
}

.slick-arrow {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
}

.slick-arrow:before {
  color: black;
  font-size: 2.5rem;
}

.slides {
  padding: 1rem;
}

.slick-slide {
  padding: 10px;
}

.icons {
  color: black;
  transition-duration: 0.3s;
}

.icons:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
  color: #38be51;
}

.second-nav {
  position: absolute;
  color: black;
  top: 48px;
  right: 5%;
  z-index: 3;
  border-bottom: thin solid black;
  width: 90vw;
  height: 2rem;
  justify-content: space-around;
  align-items: center;
  font-weight: 100;
  background: white;
}

.second-nav a {
  color: black;
}

@keyframes btn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bannerVid {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes bannerImg {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  /* .banner-vid {
    display: none;
    animation: none;
  } */
  .desctop-nav {
    display: none;
  }
  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  nav li {
    padding: 0;
  }

  .isOpen {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }

  .isOpen li {
    list-style: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
  }

  .isOpen ul {
    background: black;
    justify-content: space-evenly;
  }
  .isOpen a {
    text-decoration: none;
    color: #b3ec79;
    transition-duration: 0.3s;
  }

  .homebtndiv {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    height: 80vh;
  }
  .homebtn {
    box-shadow: 5px 5px 5px grey;
  }

  .slick-dots {
    top: 0;
    padding-right: 2rem;
  }
}
