.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.card{
  display: flex;
  width: 7rem;
  height: 7rem;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  border:solid thin black;
  transition-duration: 0.3s;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 900;
  text-align: center;
  color: black
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
  box-shadow: 5px 5px 5px rgb(167, 162, 145);
}

.navigationCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  width: 75vw;
  height: 65vh;
  border: thin solid black;
  box-shadow: 5px 5px 5px rgb(167, 162, 145);
  border-radius: 10px;
  margin: 3rem 0 3rem 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
