.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.card{
  display: flex;
  width: 12rem;
  height: 12rem;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  transition-duration: 0.3s;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 900;
  text-align: center;
  color: black;
  margin-bottom: 1rem;
  /* background: linear-gradient(45deg, #E4FF1A, #8fbdbb); */

}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
  box-shadow: 5px 5px 5px rgb(199, 196, 186);
}

.navigationCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  width: 85vw;
  height: 75vh;
  margin: 0 0 4rem 0;
}

.navIndividualCard p {
  font-size: 1.2rem;
}

.homeText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding-top: 2rem;
  margin-left: 5rem;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
